@import "../styles/variables.scss";
@import "bulma/sass/utilities/mixins";

.content {
  margin-left: $side-navbar-width;
  padding: 1rem 2rem;

  @include mobile {
    padding: 0.75rem 0.75rem;
  }
}
