/*
  Bulma installation instructions

  1. Setup Angular project with SCSS
  2. Inside styles.scss, add: @import "bulma/sass/utilities/initial-variables";
  3. Customize variables/colors
  4. Import Bulma: @import "bulma/bulma";

  Docs: https://bulma.io/
*/

@import "variables.scss";
@import "bulma/bulma";

/* MATERIAL ICONS STYLING */
/* Docs: https://developers.google.com/fonts/docs/material_icons */

/* Rules for using icons as white on a dark background. */
.material-icons.md-active {
  color: $icon-active;
}

.material-icons.md-inactive {
  color: $icon-inactive;
}

.material-icons,
img,
a,
button,
.non-draggable {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

.no-scrollbars {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
