@import "bulma/sass/utilities/initial-variables";

// Colors customization
$primary: #395d7d;
$primary-dark: #3b4856;

// Icons
$icon-active: #fff;
$icon-inactive: #b5b5b5;
$icon-hover: #dbdbdb;

$navbar-breakpoint: $tablet;
