@import "../../../../styles/variables.scss";
@import "bulma/sass/utilities/mixins";

$icon-bg-color: rgba(0, 0, 0, 0.05);

.navbar {
  position: sticky;
  z-index: 40;
  top: 0;
  left: 0;
  // Mobile view
  @media screen and ((max-height: $mobile-viewport-height) or (max-width: $tablet)) {
    font-size: 0.85rem;
  }
}

.navbar-brand {
  // Sidebar menu button
  & .sidebar-menu {
    width: 3.75em;
    padding-left: 1em;
    &:hover {
      cursor: pointer;
      background-color: $icon-bg-color;
      & .material-icons {
        color: $icon-hover;
      }
    }
  }

  & .navbar-title {
    color: $icon-active;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.125;
    text-shadow: 2px 2px $primary-dark;
  }

  // Mobile icons container
  & .icons-container {
    margin-left: auto;

    & .icon-wrapper {
      width: 3.25em;
    }
  }
}

.icons-container {
  display: flex;
  justify-content: flex-end;
  padding: 0;

  & .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: pointer;
      background-color: $icon-bg-color;

      & .material-icons {
        color: $icon-hover;
      }
    }
  }
}

// Desktop icons container
.navbar-end .icons-container .icon-wrapper {
  width: 3.75em;
}

.material-icons {
  font-size: 1.75em;
}

.navbar-burger {
  width: 3em;
  margin-left: 0;
  &:hover {
    color: $icon-hover;
    background-color: $icon-bg-color;
  }
}
