<nav
  role="navigation"
  class="navbar is-primary"
  aria-label="main navigation"
  [style.display]="isMobileView ? 'block' : 'flex'"
>
  <div class="navbar-brand">
    <ng-container *ngIf="!isMobileView">
      <span
        class="navbar-item sidebar-menu ripple"
        (click)="onSidebarMenuClick()"
      >
        <i class="material-icons">menu</i>
      </span>
    </ng-container>
    <span class="navbar-item">
      <h1 class="navbar-title non-draggable">IoT Platform</h1>
    </span>
    <div class="navbar-item icons-container" *ngIf="isMobileView">
      <span class="navbar-item icon-wrapper ripple">
        <i class="material-icons md-active">notifications</i>
      </span>
      <span class="navbar-item icon-wrapper ripple">
        <i class="material-icons md-active">person</i>
      </span>
    </div>
    <button
      aria-label="menu"
      class="navbar-burger ripple"
      [style.display]="isMobileView ? 'block' : 'none'"
      [class.is-active]="isMobileMenuOpen"
      (click)="toggleMobileMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="navbar-menu" [class.is-active]="isMobileMenuOpen">
    <div class="navbar-start" *ngIf="isMobileView">
      <a class="navbar-item"> Home </a>

      <a class="navbar-item"> Documentation </a>
    </div>
    <div class="navbar-end" *ngIf="!isMobileView">
      <div class="navbar-item icons-container">
        <span class="icon-wrapper ripple"
          ><i class="material-icons md-active">notifications</i></span
        >
        <span class="icon-wrapper ripple"
          ><i class="material-icons md-active">person</i></span
        >
      </div>
    </div>
  </div>
</nav>
