@import "../../../../styles/variables.scss";
@import "bulma/sass/utilities/mixins";

$icon-bg-color: rgba(0, 0, 0, 0.05);
$link-bg-color: rgba(0, 0, 0, 0.25);

.navbar {
  position: sticky;
  z-index: 40;
  top: 0;
  left: 0;
}

.navbar-brand {
  font-size: 1rem;
  flex-grow: 1;

  // Sidebar menu button
  & .sidebar-menu {
    width: 3.75em;
    padding-left: 1em;
    &:hover {
      cursor: pointer;
      background-color: $icon-bg-color;
      & .material-icons {
        color: $icon-hover;
      }
    }
  }
  & .navbar-title {
    color: $icon-active;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.125;
    text-shadow: 2px 2px $primary-dark;
  }

  & .material-icons {
    font-size: 1.75em;
  }

  // Mobile view
  @media screen and (max-width: $tablet) {
    font-size: 0.85rem;
  }
}

.icons-container {
  display: flex;
  margin-left: auto;

  & .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: pointer;
      background-color: $icon-bg-color;
      & .material-icons {
        color: $icon-hover;
      }
    }
    // Mobile view
    @media screen and (max-width: $tablet) {
      width: 3em;
    }
  }
}

.navbar-burger {
  width: 3em;
  margin-left: 0;
  &:hover {
    color: $icon-hover;
    background-color: $icon-bg-color;
  }
}

.navbar-menu {
  font-size: 1rem;
  padding: 0;

  & .navbar-item {
    // color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10%;
    &:hover:not(.active),
    &:focus:not(.active) {
      background-color: $link-bg-color;
    }
    &:active {
      background-color: $link-bg-color;
    }
  }
  & .material-icons {
    margin-right: 16px;
  }
}

.link-active {
  background-color: $link-bg-color;
  color: $icon-active;
}

.link-inactive {
  color: $icon-inactive;
}
