<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item sidebar-menu">
      <i class="material-icons">menu</i>
    </span>
    <span class="navbar-item">
      <h1 class="navbar-title">IoT Platform</h1>
    </span>

    <div class="icons-container">
      <div class="navbar-item icon-wrapper">
        <i class="material-icons md-light">notifications</i>
      </div>
      <div class="navbar-item icon-wrapper">
        <i class="material-icons md-light">person</i>
      </div>
    </div>
    <button class="navbar-burger" aria-label="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item icons-container">
        <span class="icon-wrapper"
          ><i class="material-icons md-light">notifications</i></span
        >
        <span class="icon-wrapper"
          ><i class="material-icons md-light">person</i></span
        >
      </div>
    </div>
  </div>
</nav>
