<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- HEADER -->
    <header
      class="modal-card-head"
      [class]="'has-background-' + newNodeData.color.replace('is-', '')"
    >
      <div class="modal-card-title">
        <!-- Header left icon -->
        <span
          class="icon mr-3"
          [class]="
            ['is-warning', 'is-light'].includes(newNodeData.color)
              ? 'has-text-grey-darker'
              : 'has-text-white'
          "
          ><i class="material-icons">add_circle</i></span
        >
        <div class="title-container">
          <!-- Header title -->
          <p
            class="title is-5 has-text-white"
            [class]="
              ['is-warning', 'is-light'].includes(newNodeData.color)
                ? 'has-text-grey-darker'
                : 'has-text-white'
            "
          >
            {{ newNodeData.isSmart ? "Nodo Smart" : "Nodo Semplice" }}
          </p>
          <!-- Header subtitle -->
          <p
            class="subtitle is-6"
            [class]="
              ['is-warning', 'is-light'].includes(newNodeData.color)
                ? 'has-text-grey-darker'
                : 'has-text-' + newNodeData.color.replace('is-', '') + '-light'
            "
          >
            {{ newNodeData.systemName }}
          </p>
        </div>
      </div>
      <!-- Close button -->
      <button class="delete is-large" (click)="onClose()"></button>
    </header>

    <!-- BODY -->
    <section class="modal-card-body">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="form">
        <!-- Node ID -->
        <label class="label" for="node-id">Codice identificativo</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <!-- TODO: Change min/max length according to actual node id length -->
            <input
              class="input"
              type="text"
              name="node-id"
              id="node-id"
              placeholder="Inserisci o scansiona l'id del nodo"
              [minlength]="13"
              [maxLength]="13"
              [(ngModel)]="formData.nodeId"
              #id="ngModel"
              required
              [class.is-danger]="
                (!id.pristine && !id.valid) || (!id.valid && form.submitted)
              "
            />
            <p
              class="help is-danger"
              *ngIf="
                (!id.pristine && !id.valid) || (!id.valid && form.submitted)
              "
            >
              Id non valido
            </p>
          </div>
          <div class="control">
            <a
              class="button"
              [class]="newNodeData.color + ' is-light'"
              (click)="onQrCodeScan()"
            >
              <span class="icon is-small">
                <i class="material-icons">qr_code_scanner</i>
              </span>
            </a>
          </div>
        </div>

        <!-- Node Name -->
        <div class="field">
          <label class="label" for="node-name">Nome</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="node-name"
              id="node-name"
              [placeholder]="
                newNodeData.isSmart
                  ? 'Es: \'nodo-smart-stanza-1\''
                  : 'Es: \'nodo-semplice-stanza-1\''
              "
              [minlength]="5"
              [maxLength]="45"
              [(ngModel)]="formData.nodeName"
              #name="ngModel"
              required
              [class.is-danger]="
                (!name.pristine && !name.valid) ||
                (!name.valid && form.submitted)
              "
            />
          </div>
          <p
            class="help is-danger"
            *ngIf="
              (!name.pristine && !name.valid) || (!name.valid && form.submitted)
            "
          >
            Inserire almeno 5 caratteri
          </p>
        </div>

        <!-- Standalone node -->
        <div class="field" id="standalone-field" *ngIf="newNodeData.isSmart">
          <label class="label" for="node-standalone">Nodo Smart Autonomo</label>
          <div class="control is-flex is-align-content-center">
            <label class="checkbox">
              <input
                type="checkbox"
                name="node-standalone"
                id="node-standalone"
                [(ngModel)]="formData.isStandalone"
                [ngModelOptions]="{ standalone: true }"
              />
              Spuntare se il nodo smart non verrà connesso a dei nodi semplici
            </label>
          </div>
        </div>

        <!-- Parent Smart Node -->
        <div class="field" *ngIf="!newNodeData.isSmart">
          <label class="label" for="node-parent">Nodo Smart associato</label>
          <p class="control has-icons-left">
            <span class="select" id="node-parent">
              <select (change)="onParentNodeSelectChange($event)">
                <option
                  *ngFor="let smartNode of this.newNodeData.smartNodes"
                  [value]="smartNode.id"
                >
                  {{ smartNode.name }}
                </option>
              </select>
            </span>
            <span class="icon is-left">
              <i class="material-icons">hub</i>
            </span>
          </p>
        </div>
      </form>
    </section>

    <!-- FOOTER -->
    <footer class="modal-card-foot">
      <div class="field">
        <div class="control">
          <button
            type="submit"
            form="form"
            class="button"
            [class]="newNodeData.color"
          >
            <span class="icon">
              <i class="material-icons">save</i>
            </span>
            <span>Salva</span>
          </button>
          <button
            class="button is-light"
            [class]="newNodeData.color"
            (click)="onClose()"
          >
            <span class="icon">
              <i class="material-icons">cancel</i>
            </span>
            <span>Annulla</span>
          </button>
        </div>
        <!-- TODO: Display error box dinamically -->
        <p class="help is-danger" *ngIf="false">
          Errore durante il salvataggio. Per favore, riprovare
        </p>
      </div>
    </footer>
  </div>
</div>
