<div class="modal" [class.is-active]="isActive" *ngIf="isActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- HEADER -->
    <header
      class="modal-card-head"
      [class]="'has-background-' + color.replace('is-', '')"
    >
      <div class="modal-card-title">
        <!-- Header left icon -->
        <span
          class="icon mr-3"
          [class]="
            ['is-warning', 'is-light'].includes(color)
              ? 'has-text-grey-darker'
              : 'has-text-white'
          "
          ><i class="material-icons">add_circle</i></span
        >
        <div class="title-container">
          <!-- Header title -->
          <p
            class="title is-5 has-text-white"
            [class]="
              ['is-warning', 'is-light'].includes(color)
                ? 'has-text-grey-darker'
                : 'has-text-white'
            "
          >
            {{ isSmart ? "Nodo Smart" : "Nodo Semplice" }}
          </p>
          <!-- Header subtitle -->
          <p
            class="subtitle is-6"
            [class]="
              ['is-warning', 'is-light'].includes(color)
                ? 'has-text-grey-darker'
                : 'has-text-' + color.replace('is-', '') + '-light'
            "
          >
            {{ systemName }}
          </p>
        </div>
      </div>
      <!-- Close button -->
      <button class="delete is-large" (click)="close()"></button>
    </header>

    <!-- BODY -->
    <section class="modal-card-body">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="form">
        <!-- Node ID -->
        <label class="label" for="node-id">Codice identificativo</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <!-- TODO: Change min/max length according to actual node id length -->
            <input
              class="input"
              type="text"
              name="node-id"
              id="node-id"
              placeholder="Inserisci o scansiona l'id del nodo"
              [minlength]="13"
              [maxLength]="13"
              [(ngModel)]="node.id"
              #id="ngModel"
              required
              [class.is-danger]="
                (!id.pristine && !id.valid) || (!id.valid && form.submitted)
              "
            />
            <p
              class="help is-danger"
              *ngIf="
                (!id.pristine && !id.valid) || (!id.valid && form.submitted)
              "
            >
              Id non valido
            </p>
          </div>
          <div class="control">
            <a
              class="button"
              [class]="color + ' is-light'"
              (click)="onQrScan()"
            >
              <span class="icon is-small">
                <i class="material-icons">qr_code_scanner</i>
              </span>
            </a>
          </div>
        </div>

        <!-- Node Name -->
        <div class="field">
          <label class="label" for="node-name">Nome</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="node-name"
              id="node-name"
              placeholder="Es: 'nodo-smart-cucina'"
              [minlength]="5"
              [maxLength]="45"
              [(ngModel)]="node.name"
              #name="ngModel"
              required
              [class.is-danger]="
                (!name.pristine && !name.valid) ||
                (!name.valid && form.submitted)
              "
            />
          </div>
          <p
            class="help is-danger"
            *ngIf="
              (!name.pristine && !name.valid) || (!name.valid && form.submitted)
            "
          >
            Inserire almeno 5 caratteri
          </p>
        </div>

        <!-- Standalone node -->
        <div class="field" id="standalone-field" *ngIf="isSmart">
          <div class="control is-flex is-align-content-center">
            <label class="checkbox">
              <input
                type="checkbox"
                name="node-standalone"
                [(ngModel)]="node.isStandalone"
                [ngModelOptions]="{ standalone: true }"
              />
              Nodo Smart Standalone
            </label>
            <span
              class="icon ml-2"
              title="Spunta la casella se il nodo smart è dotato di sensori propri"
            >
              <i class="material-icons">help</i>
            </span>
          </div>
        </div>
      </form>
    </section>

    <!-- FOOTER -->
    <footer class="modal-card-foot">
      <div class="field">
        <div class="control">
          <button type="submit" form="form" class="button" [class]="color">
            <span class="icon">
              <i class="material-icons">save</i>
            </span>
            <span>Salva</span>
          </button>
          <button class="button is-light" [class]="color" (click)="close()">
            <span class="icon">
              <i class="material-icons">cancel</i>
            </span>
            <span>Annulla</span>
          </button>
        </div>
        <!-- TODO: Display error box dinamically -->
        <p class="help is-danger" *ngIf="false">
          Errore durante il salvataggio. Per favore, riprovare
        </p>
      </div>
    </footer>
  </div>
</div>
