@import "../../../../styles/variables.scss";
@import "bulma/sass/utilities/mixins";

.modal-card {
  max-width: 95%;
}

.modal-card-head {
  padding: 0.75rem;

  & .modal-card-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;

    .material-icons {
      font-size: 2rem;
    }

    .title-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.qr-code-box {
  margin: 0 auto;
  max-width: 500px;

  p {
    color: $danger;
  }
}

:host zxing-scanner::ng-deep:first-child {
  @include mobile {
    aspect-ratio: 1 / 1;
  }
}

.modal-card-foot {
  padding: 15px;
  background-color: hsl(0deg, 0%, 100%);
  border-top: none;
}
