.modal-card {
  max-width: 95%;
}

.modal-card-head {
  padding: 15px;
  & .modal-card-title {
    display: flex;
    margin: 0;
  }
}

.modal-card-body {
}

.modal-card-foot {
  padding: 15px;
  background-color: hsl(0deg, 0%, 100%);
  border-top: none;
}
