@import "../../../../styles/variables.scss";
@import "bulma/sass/utilities/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // width: $side-navbar-width;
  background-color: $primary-dark;
  position: fixed;
  top: $top-navbar-height;
  left: 0;
  overflow-x: hidden;
  z-index: 10;

  & .icons-wrapper {
    display: flex;
    flex-direction: column;
  }

  & a {
    color: $icon-inactive;
    display: flex;
    align-items: center;
    padding-left: 16px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.material-icons {
  font-size: 28px;
  margin-right: 16px;
}
