<div class="sidebar-container">
  <div class="icons-container">
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">explore</i>
      <span class="is-size-5">Dashboard</span>
    </a>
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">factory</i>
      <span class="is-size-5">Impianti</span>
    </a>
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">warning</i>
      <span class="is-size-5">Allarmi</span>
    </a>
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">bar_chart</i>
      <span class="is-size-5">Storico</span>
    </a>
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">tune</i>
      <span class="is-size-5">Soglie</span>
    </a>
    <a class="ripple" routerLink="">
      <i class="material-icons md-light">people</i>
      <span class="is-size-5">Utenti</span>
    </a>
  </div>
  <div class="logo-container"></div>
</div>
