<div class="card has-background-danger-light">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-48x48">
          <i
            class="material-icons has-text-danger-dark"
            style="font-size: 48px"
          >
            {{ system.icon }}
          </i>
        </div>
      </div>
      <div class="media-content">
        <p class="title is-4 has-text-danger-dark">{{ system.name }}</p>
        <p class="subtitle is-6 has-text-danger is-flex">
          <span><i class="material-icons mr-1">info</i></span
          >nessun nodo offline
        </p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris.
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item has-text-danger-light has-background-danger-dark"
      >Dettagli</a
    >
    <a class="card-footer-item has-text-danger-dark">Espandi</a>
  </footer>
</div>
