<div class="panel" [class]="system.color">
  <!-- Panel header -->
  <div class="panel-heading">
    <span class="icon icon-left"
      ><i class="material-icons">{{ system.icon }}</i></span
    >
    <span>{{ system.name }}</span>
    <button
      class="button is-small icon-right"
      #deleteSystemBtn
      *ngIf="!system.smartNodes.length"
      [class]="system.color"
      (click)="onDeleteSystem(deleteSystemBtn)"
    >
      <span class="icon"><i class="material-icons">delete</i></span>
    </button>
  </div>
  <!-- TODO: Add tooltips -->
  <!-- Search panel -->
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Filter by node" />
      <span class="icon is-left">
        <i class="material-icons">search</i>
      </span>
    </p>
  </div>

  <!-- Placeholder panel -->
  @if (!system.smartNodes.length) {
  <div class="panel-block">
    <div class="panel-left">
      <i class="material-icons panel-icon">info</i>
      <span>Now you can register a smart node for this place</span>
    </div>
  </div>
  }

  <!-- Smart node panel -->
  @for (smartNode of system.smartNodes; track smartNode.id) {
  <div class="panel-block">
    <div
      class="panel-left"
      [class]="
        smartNode.status === nodeStatus.ONLINE
          ? 'online-node'
          : smartNode.status === nodeStatus.OFFLINE
          ? 'offline-node'
          : 'deactivated-node'
      "
    >
      <i class="material-icons panel-icon">hub</i>
      <span>{{ smartNode.name }}</span>
    </div>
    <div class="list-item-controls">
      <div class="buttons is-right">
        <button class="button">
          <span class="icon">
            <i class="material-icons">edit</i>
          </span>
        </button>

        @if (smartNode.isStandalone) {
        <button class="button">
          <span class="icon">
            <i class="material-icons">power_settings_new</i>
          </span>
        </button>
        } @if (!smartNode.simpleNodes?.length) {
        <button
          class="button"
          #deleteSmartNodeBtn
          (click)="onDeleteNode(deleteSmartNodeBtn, smartNode.id)"
        >
          <span class="icon">
            <i class="material-icons">delete</i>
          </span>
        </button>
        } @else {

        <!-- Disabled delete button -->
        <button
          class="button"
          title="Rimuovere tutti i nodi semplici prima di procedere"
          disabled
        >
          <span class="icon">
            <i class="material-icons">delete</i>
          </span>
        </button>
        }
      </div>
    </div>
  </div>

  <!-- Simple nodes panel -->
  @if (!smartNode.isStandalone && smartNode.simpleNodes?.length) {
  <div class="panel-block simple-nodes-panel">
    <!-- Simple node  -->
    <div
      class="simple-node-block"
      *ngFor="let simpleNode of smartNode.simpleNodes"
    >
      <div
        class="panel-left"
        [class]="
          simpleNode.status === nodeStatus.ONLINE
            ? 'online-node'
            : simpleNode.status === nodeStatus.OFFLINE
            ? 'offline-node'
            : 'deactivated-node'
        "
      >
        <i class="material-icons panel-icon">sensors</i>
        <span>{{ simpleNode.name }}</span>
      </div>
      <div class="list-item-controls">
        <div class="buttons is-right">
          <button class="button">
            <span class="icon">
              <i class="material-icons">edit</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">power_settings_new</i>
            </span>
          </button>

          <button
            class="button"
            #deleteSimpleNodeBtn
            (click)="
              onDeleteNode(deleteSimpleNodeBtn, smartNode.id, simpleNode.id)
            "
          >
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  } }
  <!-- Add nodes panel -->
  <div class="panel-block">
    <button class="button" [class]="system.color" (click)="onAddNode(true)">
      <span class="icon"><i class="material-icons">add_circle</i></span>
      <span>Smart node</span>
    </button>
    <button
      class="button"
      [class]="
        ['is-dark', 'is-light'].includes(system.color)
          ? 'is-white'
          : system.color + ' is-light'
      "
      [disabled]="isStandaloneSystem() || areNonStandaloneNodesOffline()"
      (click)="onAddNode(false)"
    >
      <span class="icon"><i class="material-icons">add_circle</i></span>
      <span>Simple node</span>
    </button>
  </div>
</div>
