<div class="panel is-danger">
  <!-- Panel header -->
  <div class="panel-heading">
    <span class="icon"><i class="material-icons">home</i></span>
    <span>Impianto 1</span>
  </div>

  <!-- Search panel -->
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Filtra per nodo" />
      <span class="icon is-left">
        <i class="material-icons">search</i>
      </span>
    </p>
  </div>

  <!-- Master node panel -->
  <div class="panel-block">
    <div class="panel-left">
      <i class="material-icons panel-icon">hub</i>
      <span>Nodo master</span>
    </div>
    <div class="list-item-controls">
      <div class="buttons is-right">
        <button class="button">
          <span class="icon">
            <i class="material-icons">edit</i>
          </span>
        </button>

        <button
          class="button"
          title="Almeno un nodo slave ancora presente"
          disabled
        >
          <span class="icon">
            <i class="material-icons">delete</i>
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Slave nodes panel -->
  <div class="panel-block slave-panel">
    <!-- Slave node 1 -->
    <div class="slave-block">
      <div class="panel-left">
        <i class="material-icons panel-icon">sensors</i>
        <span>Nodo slave 1</span>
      </div>
      <div class="list-item-controls">
        <div class="buttons is-right">
          <button class="button">
            <span class="icon">
              <i class="material-icons">edit</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">power_settings_new</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Slave node 2 -->
    <div class="slave-block">
      <div class="panel-left">
        <i class="material-icons panel-icon">sensors</i>
        <span>Nodo slave 2</span>
      </div>
      <div class="list-item-controls">
        <div class="buttons is-right">
          <button class="button">
            <span class="icon">
              <i class="material-icons">edit</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">power_settings_new</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Slave node 3 -->
    <div class="slave-block">
      <div class="panel-left">
        <i class="material-icons panel-icon">sensors</i>
        <span>Nodo slave 3</span>
      </div>
      <div class="list-item-controls">
        <div class="buttons is-right">
          <button class="button">
            <span class="icon">
              <i class="material-icons">edit</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">power_settings_new</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Slave node 4 -->
    <div class="slave-block">
      <div class="panel-left">
        <i class="material-icons panel-icon">sensors</i>
        <span>Nodo slave 4</span>
      </div>
      <div class="list-item-controls">
        <div class="buttons is-right">
          <button class="button">
            <span class="icon">
              <i class="material-icons">edit</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">power_settings_new</i>
            </span>
          </button>

          <button class="button">
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add nodes panel -->
  <div class="panel-block">
    <button class="button is-danger">
      <span class="icon"
        ><i class="material-icons" aria-hidden="true">add_circle</i></span
      >
      <span>Nodo master</span>
    </button>
    <button class="button is-light">
      <span class="icon"
        ><i class="material-icons" aria-hidden="true">add_circle</i></span
      >
      <span>Nodo slave</span>
    </button>
  </div>
</div>
