<app-title-bar [title]="'New place'" [buttons]="titleButtons" />

<div class="container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="system-name"
          placeholder="Place name"
          [minlength]="5"
          [maxLength]="45"
          [(ngModel)]="previewSystem.name"
          #name="ngModel"
          required
          [class.is-danger]="
            (!name.pristine && !name.valid) || (!name.valid && form.submitted)
          "
        />
      </div>
      @if ((!name.pristine && !name.valid) || (!name.valid && form.submitted)) {
      <p class="help is-danger">Insert at least 5 characters</p>
      }
    </div>

    <div class="field">
      <label class="label">Icon</label>
      <div class="buttons">
        @for (icon of iconsList; track icon) {
        <button
          type="button"
          class="button"
          (click)="onIconClick($index)"
          [class.is-focused]="selectedIconIndex === $index"
        >
          <span class="icon"
            ><i class="material-icons">{{ icon }}</i>
          </span>
        </button>
        }
      </div>
    </div>

    <div class="field">
      <label class="label">Color</label>
      <div class="buttons">
        @for (color of colorsList; track color) {
        <button
          type="button"
          class="button is-rounded"
          [class]="color"
          (click)="onColorClick($index)"
          [class.is-focused]="selectedColorIndex === $index"
        ></button>
        }
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button has-text-white">
          <span class="icon"><i class="material-icons">save</i></span>
          <span>Save</span>
        </button>
      </div>
      <!-- TODO: Display error box dinamically -->
      @if (false) {
      <p class="help is-danger">Error during saving. Please try again</p>
      }
    </div>
  </form>
  <div class="preview-container">
    <label class="label">Preview</label>
    <app-system-panel [system]="previewSystem" [isPreview]="true" />
  </div>
</div>
